{{ define "main" }}

<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>
    {{ .Title }}
    {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) (.Param "ShowRssButtonInSectionTermList") }}
    <a href="index.xml" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>

<section class="site-project" id="project">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 4).Pages }}
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="site-project-item">
          <div class="site-project-item-thumb">
            <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
          </div>
          <div class="site-project-item-content">
            <span>{{ delimit .Params.category ", " }}</span>
            <h3>{{ .Title }}</h3>
            <a href="{{ .Permalink }}" class="read-more">View Project</a>
          </div>
        </div>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="site-project-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}